<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="GitHubUsername" value="GDdotNET" />
        <add key="GitHubRepoName" value="GDNET" />
        <add key="SolutionName" value="GDNET" />
        <add key="ProjectName" value="GDNET.Client" />
        <add key="NuSpecName" value="" />
        <add key="IncrementVersion" value="false" />
        <add key="GitHubUpload" value="false" />
        <add key="NuGetUpload" value="false" />
        <add key="AnnounceDiscord" value="false" />
        <add key="PackageName" value="GDNET" />
        <add key="IconName" value="" />
        <add key="GitHubAccessToken" value="" />
        <add key="CodeSigningCertificate" value="" />
        <add key="NugetPublishToken" value="" />
        <add key="DiscordWebhookURL" value=""/>
    </appSettings>
</configuration>